################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kpiap lab 2
/spovm l1
/testASM
/АПК lab 2
/ваня сповм
